@model User;
@{
    
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
         <link rel="stylesheet" href="css/bootstrap.min.css">
         
    <style>
        .btn-info:hover,
        .btn-info:focus
        {
            border-color:none;
        }
        .btn-info{
            border-color:none;
            border:none;
        }
        .form-control:focus {
   
            /* border-color: #86b7fe; */
            /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
        }
    </style>

</head>

<h1 style="padding-left:20px; padding-top:20px; color: #d9b5a0; ">Login</h1>
  
@* <div  style="border: 1px solid #d9b5a0; border-radius: 8px; margin-left: 100px; margin-right: 434px;" >*@
        <div class="container" >
      <div class="row"  style="border: 1px solid #d9b5a0; border-radius: 8px; ">
        <div class="col-12  col-lg-12">
<form method="post" style="padding: 25px; padding-bottom: 10px;  margin-right: 0px;"  >
    
    <div class="form-group" style=" padding-bottom: 15px;">
        <label asp-for=username >User Name</label>
        <input  class="form-control" asp-for=username >
        <span asp-validation-for="username"  class="text-danger"></span>
   </div>

    <div class="form-group" style=" padding-bottom: 15px;">
        <label asp-for=password  >Password</label>
        <input  type="password"  class="form-control" asp-for=password >
        <span asp-validation-for="password" class="text-danger"></span>
   </div>
    <br />
     <div class="form-group " style="padding-bottom:20px;">
         <input type="submit" value="Login" class="btn btn-info " style="background-color:#d9b5a0;"/>
    </div>

</form>
<span class="text-danger">@ViewBag.status </span>
</div></div></div>

@*@section Scripts{
     <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
     <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
 }
 *@
