@model User
@{
    
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h1  style="padding-left:20px; padding-top:20px; color: #d9b5a0; ">Profile</h1>

<h3 style="padding-left:40px; padding-top:20px;">Welcome @Model.name</h3>
<p style="padding-left:40px; padding-top:20px;">User name is : @Model.username</p>
<p style="padding-left:40px; padding-top:20px;">Your age is : @Model.age</p>
<p style="padding-left:40px; padding-top:20px;">Your E_mail is : @Model.email</p>