@model mvc_4.Models.Catalog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<head>
    <style>
        .btn-info:hover{
        border-color:none;
            border:none;
        }
        .btn-info:focus
        {
            border-color:none;
            border:none;
        }
        .btn-info{
            border-color:none;
            border:none;
        }
    </style>
</head>
<h1  style="padding-left:20px; padding-top:20px; color: #d9b5a0; ">Details</h1>
<div class="container" >
      <div class="row"  style="border: 1px solid #d9b5a0; border-radius: 8px; ">
        <div class="col-12 py-5 ">
<div>
    <h4 style="color:#d9b5a0;">Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cat_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cat_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cat_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cat_desc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cat_id" style="color:#d9b5a0;">Edit</a> |
    <a asp-action="Index" style="color:#d9b5a0;">Back to List</a>
</div>
</div></div></div>
